ANTHROPIC_API_KEY=
NIMBLE_API_KEY=
CLICKHOUSE_HOST=
CLICKHOUSE_USER=
CLICKHOUSE_PASSWORD=
SENSO_API_KEY=
WALLET_PRIVATE_KEY=
ZERODEV_PROJECT_ID=391415d7-7b73-4531-ba86-94268ecedfef
ZERODEV_RPC_URL=https://rpc.zerodev.app/api/v3/391415d7-7b73-4531-ba86-94268ecedfef/chain/84532
